<% include ../partials/header %>
<div class="ui container right aligned">
    <a class="ui button" href="/poll/new">New Poll</a>
</div>    
    <div class="ui container">
        <h1 class="ui header center aligned">Polls</h1>
        <% polls.map((item, i) => { %>
            <div>
                <h2 class="ui header center aligned">
                    <%= polls[i].pollName %>
                </h2>
                <h4 class="ui header center aligned">
                    <em> Created by
                        <%= polls[i].author.username %>
                    </em>
                </h4>
                <a class="ui button" href="/poll/<%= polls[i]._id %>/edit">Edit</a>
                <% polls[i].items.map(item => { %>
                    <p>
                        <%= item.name %>
                    </p>
                    <p>
                        <%= item.count %>
                    </p>
                    <% }) %>
            </div>
            <% }) %>
    </div>

    <% include ../partials/footer %>